header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
  position: absolute;
  z-index: 100;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon:hover {
  transform: rotate(80deg);
}

.links-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
}

.links-header img {
  width: 25px;
  height: 25px;
}

.absolute-header {
  position: absolute;
}

.relative-header {
  position: relative;
}

.background-header {
  background-color: var(--rich-black);
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--red);
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#sound-button > img {
  width: 25px;
  height: 25px;
}