.gira {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

.gira ol {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing);
  padding: var(--spacing);
}

.gira li {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: var(--small-spacing);
  padding: var(--small-spacing);
  text-align: center;
}

.augborder-tour {
  --aug-border-bg: url("https://res.cloudinary.com/darvwfw0u/image/upload/v1743521665/aug-border-tour-bg_eqfrnq.gif");
  --aug-border-opacity: 1;
  --aug-border-all: 6px;
  background: url("https://res.cloudinary.com/darvwfw0u/image/upload/v1743521590/augborder-tour-bg_jwfijc.jpg");
  color: var(--ghost-white);
}

@media screen and (min-width: 1620px) {
  .gira {
    min-height: 75vh;
    justify-content: flex-start;
  }
}