.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
  color: var(--ghost-white);
  text-align: center;
}

.product-name {
  width: 100%;
  height: auto;
  font-size: 20px;
  color: var(--ghost-white);
}

.product-price {
  width: 100%;
  height: auto;
  font-weight: 500;
  letter-spacing: 3px;
}

.product-description {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  text-align: justify;
}

.modal-content label {
  width: 100%;
  height: auto;
}

.notification {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: green;
  color: var(--ghost-white);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--small-spacing);
  border-radius: var(--border-radius);
  animation: showNotification 5s forwards;
}

@keyframes showNotification {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.augborder-modal {
  width: 100%;
  height: 100%;
  --aug-border-bg: url("https://i.pinimg.com/originals/bd/28/2d/bd282d3e832a0efd8cb3360c449b7fbd.gif");
  --aug-inlay-bg: url("https://i.pinimg.com/736x/0e/4a/51/0e4a5185f3f700bbd46b2fc6566f5aa6.jpg");
  --aug-inlay-opacity: 0.5;
}
