.btn {
  width: 60px;
  height: 50px;
}

.btn:active {
  transform: scale(0.95);
}

.btn.primary {
  width: 200px;
  height: 50px;
  border-radius: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: var(--green);
  color: black;
  text-align: center;
  transition: all 0.2s;
}

.btn.primary:hover {
  background: #c4e201;
}

.btn.secondary {
  background: none;
  border: none;
}

.btn > img {
  width: 20px;
  height: 20px;
}
