.btn {
  font-family: var(--audiowide-font);
  color: var(--ghost-white);
  letter-spacing: 2px;
  background-color: var(--red);
}

.btn:active {
  transform: translate(2px, 2px);
}

.btn.primary {
  width: 200px;
  height: 40px;
  border-radius: var(--border-radius);
  padding: var(--small-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px black;
  transition: all 0.5s ease-in-out;
}

.btn.primary:hover {
  background-color: var(--ghost-white);
  color: var(--red);
}

.btn.secondary {
  width: 60px;
  height: 50px;
  background: none;
  border: none;
}

.btn > img {
  width: 20px;
  height: 20px;
}

#close-modal {
  background-color: var(--ghost-white);
  width: auto;
  height: auto;
  border-radius: 50px;
}
