.btn {
  font-weight: 500;
  letter-spacing: 1.2px;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pumpkin);
  transition: 0.5s ease-in-out;
}

.btn.primary {
  width: 90px;
  height: 90px;
  font-size: 3em;
  cursor: pointer;
}

.btn.primary:hover {
  background-color: var(--electric-indigo);
  rotate: 1turn;
}

.btn.secondary {
  width: 150px;
  height: 40px;
  font-size: 1em;
  color: var(--raisin-black);
}

.btn.secondary:hover {
  background-color: var(--electric-indigo);
  color: var(--mint-cream);
}
