.cesta {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

.ticket {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
  border-radius: var(--border-radius);
  border: 2px dashed var(--rich-black);
  background: url("https://res.cloudinary.com/darvwfw0u/image/upload/v1743521388/ticket-bg_cvvmuz.jpg");
  font-family: var(--ubuntu-font);
  text-transform: uppercase;
}

.ticket > h3 {
  width: 100%;
  height: auto;
  font-family: var(--cubenzis-font);
  color: var(--rich-black);
}

.date-time {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  border-bottom: 5px dotted var(--red);
}

.cesta > .ticket > article {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-product-name {
  width: 80%;
}

.cart-product-quantity {
  width: 10%;
}

.cart-product-price-quantity {
  width: 10%;
}

.cart-thanks {
  width: 100%;
  height: auto;
  border-top: 5px dotted var(--red);
}

.cart-thanks::after {
  content: "é¾";
  margin-left: 5px;
}

.cart-total-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px dotted var(--red);
}

.cart-total-price > p:nth-child(1) {
  width: 90%;
}

.cart-total-price > p:nth-child(2) {
  width: 10%;
}

.empty-shopping-cart {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-shopping-cart > img {
  width: 250px;
  height: auto;
  object-fit: cover;
  position: relative;
}

.empty-shopping-cart > a {
  font-size: 15px;
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rich-black);
  clip-path: polygon(
    100% 50%,
    87.05% 58.46%,
    95.05% 71.69%,
    79.71% 73.69%,
    81.17% 89.09%,
    66.49% 84.24%,
    61.13% 98.75%,
    50% 88%,
    38.87% 98.75%,
    33.51% 84.24%,
    18.83% 89.09%,
    20.29% 73.69%,
    4.95% 71.69%,
    12.95% 58.46%,
    0% 50%,
    12.95% 41.54%,
    4.95% 28.31%,
    20.29% 26.31%,
    18.83% 10.91%,
    33.51% 15.76%,
    38.87% 1.25%,
    50% 12%,
    61.13% 1.25%,
    66.49% 15.76%,
    81.17% 10.91%,
    79.71% 26.31%,
    95.05% 28.31%,
    87.05% 41.54%
  );
}
