footer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: var(--small-spacing);
  gap: var(--small-spacing);
  background-color: var(--rich-black);
}

.social-media {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
}

.social-media img {
  width: 40px;
  height: 40px;
  background-color: var(--slate-gray);
  border-radius: 50%;
  padding: 8px;
  transition: all 0.5s ease-in-out;
}

.social-media img:hover {
  background-color: var(--red);
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--small-spacing);
}

.copyright {
  color: var(--ghost-white);
}
