footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 20px;
}

footer > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

footer > ul > li > a > img {
  width: 30px;
  height: 30px;
}

footer > ul > li > a > img:hover {
  filter: brightness(0) saturate(100%) invert(14%) sepia(96%) saturate(4525%)
    hue-rotate(353deg) brightness(87%) contrast(99%);
}
