@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --dark-slate-gray: #35524aff;
  --slate-gray: #627c85ff;
  --air-superiority-blue: #779cabff;
  --tiffany-blue: #a2e8ddff;
  --emerald: #32de8aff;
  --red: #dd1215;
  --rich-black: #031926;
  --ghost-white: #f8f7ff;
  --green: #cfef00;
  --spacing: 1rem;
  --border: 2px solid black;
  --body-font: "Outfit", serif;
  --header-font: "Audiowide", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--rich-black);
  color: var(--ghost-white);
  font-family: var(--body-font);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(14, 13, 13, 0.3);
  background-color: var(--dark-slate-gray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

::-moz-selection {
  background: var(--red);
}

::selection {
  background: var(--red);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  text-transform: uppercase;
  text-align: center;
  color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--ghost-white);
  -webkit-text-stroke: 2px var(--red);
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 20px;
}

ul,
li {
  list-style-type: none;
}

a {
  font-family: var(--header-font);
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: var(--red);
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

pre {
  font-size: 7px;
  color: var(--emerald);
  cursor: pointer;
  animation: fadeIn 4s ease-in-out;
}

pre:hover {
  text-decoration: var(--red) wavy underline;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
