@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@font-face {
  font-family: "Cubenzis";
  src: url("/fonts/CubenzisRegular.woff2") format("woff2"),
    url("/fonts/CubenzisRegular.woff") format("woff"),
    url("/fonts/CubenzisRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-slate-gray: #35524aff;
  --slate-gray: #627c85ff;
  --emerald: #32de8aff;
  --red: #dd1215;
  --rich-black: #031926;
  --ghost-white: #f8f7ff;
  --spacing: 20px;
  --small-spacing: 10px;
  --border-radius: 10px;
  --outfit-font: "Outfit", serif;
  --audiowide-font: "Audiowide", sans-serif;
  --cubenzis-font: "Cubenzis", sans-serif;
  --marker-font: "Permanent Marker", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--rich-black);
  font-family: var(--outfit-font);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(14, 13, 13, 0.3);
  background-color: var(--dark-slate-gray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

::-moz-selection {
  background: var(--red);
  color: var(--ghost-white);
}

::selection {
  background: var(--red);
  color: var(--ghost-white);
}

h1,
h2,
h3 {
  font-family: var(--audiowide-font);
  text-transform: uppercase;
  text-align: center;
  color: var(--rich-black);
}

h1 {
  font-size: 2rem;
  font-family: var(--cubenzis-font);
}

h2 {
  font-size: 2rem;
  color: var(--red);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--rich-black);
}

hr {
  width: 300px;
  height: 3px;
  background-color: var(--rich-black);
}

p {
  font-size: 20px;
}

ul,
li {
  list-style-type: none;
}

a {
  font-family: var(--audiowide-font);
  text-decoration: none;
  color: var(--ghost-white);
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: var(--red);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

pre {
  font-size: 7px;
  color: var(--emerald);
  animation: fadeIn 4s ease-in-out;
}

pre:hover {
  text-decoration: var(--red) wavy underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

form > input {
  width: 100%;
  height: 50px;
  border: 2px solid var(--rich-black);
  outline: 5px double var(--dark-slate-gray);
  border-radius: var(--border-radius);
  padding: var(--small-spacing);
  font-family: inherit;
}

.underlined-link {
  color: var(--rich-black);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  form > input {
    width: 50%;
  }
}